@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('./assets/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    src: url('./assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-bold-webfont.woff') format('woff');
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.main-body-section {
    flex: 1;
}

                            /* Header styles */
.header {
    background-color: #1F2937;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}

.nav-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.header-content {
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 40px;
}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.hero-text {
    margin-bottom: 10px;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 800px;
    background-color: #6d747d;
}

.top-signup-button {
    border: none;
    background-color: #3882F6;
    color: white;
    padding: 6px 10px 6px 10px;
    width: 100px;
    border-radius: 5px;
}


                            /* Image section styles */
.main-content {
    padding-bottom: 100px;
}

.display {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.illustration {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    gap: 8px;
}

.place-holder {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 35px;
    margin-top: 35px;
}


                            /* Testimonials Section */
.testimonial {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 750px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin: 0;
}

.credit {
    align-self: flex-end;
    margin: 0;
}


                            /* Call to action section styles */

.subscribe {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.call-to-action {
    color: white;
    background-color: #3882F6;
    width: 900px;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.bottom-signup-button {
    padding: 6px 10px 6px 10px;
    width: 100px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: #3882F6;
}

.cta-header {
    font-size: 24px;
    color: #F9FAF8;
}


                            /* Footer styles */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    color: white;
    background-color: #1F2937;
    /* text-align: center; */
}


ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

p {
    margin: 0;
}
